*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --lila: #b58fc0;
    --Oscuro: #212121;
    --Primario: #FFC107;
    --Secundario: #0097A7;
    --Gris: #757575;
    --GrisClaro: #DFE9F3;
    --fuente_principal:5.8rem;
    
    
}
html{
    font-size: 25.5%;/*Reiniciamos toda la pagina a un tamaño estandar*/
    box-sizing: border-box;/*Recalcula el ancho de una caja para que el width sea la estrictamente
    la suma de border + padding + ancho o altura que sea necesario para que se cumpla*/

}



body{
    font-size: 3rem;
    font-family: 'krub', sans-serif;/*añadimos la fuente de google fonts para que se aplique
    a toda la pagina html*/
    
    /*DEGRADADO DE ABAJO HACIA ARRIBA*/
}

@media ( min-width:480px ) {
    body{
        /*Llegado a los 480 px de tamaño de la pagina, esta se pone de color azul*/
        font-size: 5rem;
    }
}
@media ( min-width:768px ) {
    body{
        background-color:white;
        
    }
}
.tituloo{
    font-size: var(--fuente_principal);
    color: var(--Oscuro);
    font-family: 'Allan', cursive;
    
}
.hero{
  background-color: var(--lila);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 5%;
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 15px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 5px;
   
}
nav ul li a:hover{
    background-color: white;
    border-radius: 15px;
}
button{
    background-color: var(--Oscuro);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;  
}
button:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}
.imagen{
    height: 60vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/Inicio\ 1.jpg);
    background-size: cover;
    background-position: center;
}
.frase2{
    margin-top: 35px;
    padding-left: 5%;
    font-size: 22px;
}
.frase1{
   text-align: center;
   margin-top: 22px;
}
.Exhibicion{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin: auto;
    flex-wrap: wrap;
    
}
.img-exhibicion{
    background-color: var(--lila);
    width: 230px;
    height: 220px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 25px;
}
.img-exhibicion a{
    font-family: 'Allan', cursive;
}
.boton-exhibixion{
    padding: 5px;
}
.boton-exhibixion{
    text-decoration: none;
    color: var(--Oscuro);
}
.boton-exhibixion:hover{
    color: var(--GrisClaro);
}
.Registrar{
    justify-content:flex-end;
    padding-left: 115%;
    height: 10px;
    
}
.mapa{
    margin-top: 40px;
    margin-bottom: 50px;
    
}
footer{
    width: 100%;
    padding: 50px 0px;
    background-color: var(--lila);
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    
}
.box_footer{
    display: flex;
    flex-direction: column;
    padding: 35px;
}
.box_footer .logo_footer img{
    width: 160px;
}
.box_footer .termino{
    max-width: 350px;
    margin-top: 25px;
    font-weight: 500;
    font-size: 18px;
}
.box_footer h2{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
}
.box_footer a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.copyright{
    max-width: 1250px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.copyright p{
    margin-top: 15px;
    font-size: 16px;
}
